# https://developers.cloudflare.com/pages/how-to/use-direct-upload-with-continuous-integration/

# act pull_request -> triggers the CI part locally using CLI tool "act"
# act push -j deploy --secret-file .env -> triggers both the checking and the deploying part

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

jobs:
  # CI
  # Runs on pushes to any branches
  check:
    name: Quality Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Cache Playwright Binaries
        uses: actions/cache@v4
        id: playwright-cache
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-browsers

      - name: Install Playwright Browsers
        run: npx playwright install chromium --with-deps

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test

  # CD
  # Only runs on the main branch
  # Depends on the CI
  deploy:
    runs-on: ubuntu-latest
    needs: check
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read
      deployments: write

    name: Deploy to Cloudflare Pages
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Deploy (Local Fix)
        if: ${{ env.ACT }}
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        run: npx -y wrangler pages deploy dist --project-name=chenguanhua-com

      - name: Deploy (Production)
        if: ${{ !env.ACT }}
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy dist --project-name=chenguanhua-com
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
